<STYLE TYPE="text/css">
<!--
BODY            {
                background-color: #000000;
                font-family: Arial;
                font-size: 7pt;
                font-weight: medium;
                color: #FFFFFF;
                margin-top: 5pt;
                margin-bottom: 5pt;
                margin-left: 5pt;
                margin-right: 5pt;
                scrollbar-3dlight-color:#000000;
                scrollbar-arrow-color:#C0C0C0;
                scrollbar-base-color:#000000;
                scrollbar-darkshadow-color:#808080;
                scrollbar-face-color:#000000;
                scrollbar-highlight-color:#C0C0C0;
                scrollbar-shadow-color:#000000;
                scrollbar-track-color:#000000;
                }
A               {text-decoration:none;}
A:link          {color:#C0C0C0;}
A:visited       {color:#808080;}
A:active        {color:#FF0000;}
A:hover		{color:#F0F0F0;}
HR              {
                size: 1;
                noshade;
                }
PRE             {
                font-family: Lucida Console;
                font-size: 7pt;
                color: #FFFFFF;
                background-color: #000000;
                text-decoration: none;
                }
TABLE           {
                font-family: Arial;
                font-size: 7pt;
                font-weight: medium;
                color: #FFFFFF;
                background-color: #000000;
                text-decoration: none;
                }
.znacznik	{font-size: 10pt; font-weight: bold; color: #C0C0C0; text-align: right}
-->
</STYLE>